train.csv
*.csv
creds.py
__init__.py
competition.cpython-36m-x86_64-linux-gnu.so
sample_submission.csv.encrypted
test.csv.encrypted
settings.json
.vscode
nfl-big-data-bowl-2020
creds.cpython-37.pyc
__pycache__
.DS_Store